.c19i-settings-number-input label:after {
  content: " *";
  color: rgb(164, 38, 44);;
}

.c19i-settings-number-input i {
  font-style: normal;
  text-align: left;
  display: block;
  position: relative;
  bottom: 15px;
  color: gray;
  font-size: 12px;
  padding-left: 5px;
}